<html>
    <head>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="login.css" />
        <script type="text/javascript" charset="utf-8" src="login.js"></script>
        <link rel="icon" href="icone.png">

        <title>{{title or  'Sistema Login'}}</title>
    </head>

    <body>
        <div class="container">
            <div class="card card-container">
                 {{!base}} 
            </div><!-- /card-container -->
        </div><!-- /container -->
    </body>
</html>
